[data-page="_global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #2F4F4F;
}
[data-page="_global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #E07878;
}
[data-page="_global_menu"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


