<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel surat_masuk edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="surat_masuk_view.php?{$editlink}" {$view_page_button_attrs}>View</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN nomor_surat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nomor_surat}  r-vertical-field" 
	data-signal-error-for="nomor_surat{$id}" {$required_attr_nomor_surat}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="nomor_surat" data-fieldname="nomor_surat" >

	<label class="r-edit-label control-label" for="{$labelfor_nomor_surat}">
		{BEGIN nomor_surat_label}{$label surat_masuk nomor_surat }{END nomor_surat_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$nomor_surat_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="nomor_surat" {$tooltipAttr surat_masuk nomor_surat } >
		<div class="text-muted" >
		{$tooltip surat_masuk nomor_surat }		</div>
	</div>
</div>


{END nomor_surat_fieldblock}
											
{BEGIN tanggal_surat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_surat}  r-vertical-field" 
	data-signal-error-for="tanggal_surat{$id}" {$required_attr_tanggal_surat}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="tanggal_surat" data-fieldname="tanggal_surat" >

	<label class="r-edit-label control-label" for="{$labelfor_tanggal_surat}">
		{BEGIN tanggal_surat_label}{$label surat_masuk tanggal_surat }{END tanggal_surat_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$tanggal_surat_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tanggal_surat" {$tooltipAttr surat_masuk tanggal_surat } >
		<div class="text-muted" >
		{$tooltip surat_masuk tanggal_surat }		</div>
	</div>
</div>


{END tanggal_surat_fieldblock}
											
{BEGIN tanggal_diterima_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_diterima}  r-vertical-field" 
	data-signal-error-for="tanggal_diterima{$id}" {$required_attr_tanggal_diterima}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="tanggal_diterima" data-fieldname="tanggal_diterima" >

	<label class="r-edit-label control-label" for="{$labelfor_tanggal_diterima}">
		{BEGIN tanggal_diterima_label}{$label surat_masuk tanggal_diterima }{END tanggal_diterima_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$tanggal_diterima_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tanggal_diterima" {$tooltipAttr surat_masuk tanggal_diterima } >
		<div class="text-muted" >
		{$tooltip surat_masuk tanggal_diterima }		</div>
	</div>
</div>


{END tanggal_diterima_fieldblock}
											
{BEGIN nama_penerima_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_penerima}  r-vertical-field" 
	data-signal-error-for="nama_penerima{$id}" {$required_attr_nama_penerima}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="nama_penerima" data-fieldname="nama_penerima" >

	<label class="r-edit-label control-label" for="{$labelfor_nama_penerima}">
		{BEGIN nama_penerima_label}{$label surat_masuk nama_penerima }{END nama_penerima_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$nama_penerima_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="nama_penerima" {$tooltipAttr surat_masuk nama_penerima } >
		<div class="text-muted" >
		{$tooltip surat_masuk nama_penerima }		</div>
	</div>
</div>


{END nama_penerima_fieldblock}
											
{BEGIN keperluan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keperluan}  r-vertical-field" 
	data-signal-error-for="keperluan{$id}" {$required_attr_keperluan}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="keperluan" data-fieldname="keperluan" >

	<label class="r-edit-label control-label" for="{$labelfor_keperluan}">
		{BEGIN keperluan_label}{$label surat_masuk keperluan }{END keperluan_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$keperluan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="keperluan" {$tooltipAttr surat_masuk keperluan } >
		<div class="text-muted" >
		{$tooltip surat_masuk keperluan }		</div>
	</div>
</div>


{END keperluan_fieldblock}
											
{BEGIN file_surat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_file_surat}  r-vertical-field" 
	data-signal-error-for="file_surat{$id}" {$required_attr_file_surat}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="file_surat" data-fieldname="file_surat" >

	<label class="r-edit-label control-label" for="{$labelfor_file_surat}">
		{BEGIN file_surat_label}{$label surat_masuk file_surat }{END file_surat_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$file_surat_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="file_surat" {$tooltipAttr surat_masuk file_surat } >
		<div class="text-muted" >
		{$tooltip surat_masuk file_surat }		</div>
	</div>
</div>


{END file_surat_fieldblock}
											
{BEGIN lampiran_foto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lampiran_foto}  r-vertical-field" 
	data-signal-error-for="lampiran_foto{$id}" {$required_attr_lampiran_foto}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="lampiran_foto" data-fieldname="lampiran_foto" >

	<label class="r-edit-label control-label" for="{$labelfor_lampiran_foto}">
		{BEGIN lampiran_foto_label}{$label surat_masuk lampiran_foto }{END lampiran_foto_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$lampiran_foto_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="lampiran_foto" {$tooltipAttr surat_masuk lampiran_foto } >
		<div class="text-muted" >
		{$tooltip surat_masuk lampiran_foto }		</div>
	</div>
</div>


{END lampiran_foto_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancel			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reset		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="surat_masuk_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		View		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
